@import "src/variables.scss";

h1{
    text-align: center;
    padding-top: 5%;
    font-size: 5em;
}

.about-me-wrapper{
    background-color: $about-me-background-color;
    height: 100vh;
    text-align: center;
}

h3 {
    padding-top: 10%;
}