@import "src/variables.scss";

h1{
    text-align: center;
    padding-top: 1%;
    font-size: 4em;
}

.about-me-wrapper{
    background-color: $about-me-background-color;
    height: 105vh;
    text-align: center;
}

p {
    padding-top: 1%;
    font-size: 1.5em;
    background-color: $about-me-background-color;
    letter-spacing: -.004em;
}

img{
    height: 40%;
    border: solid white 2px;
    border-radius: 50%;
}