<div class="coding-wrapper">      
      <div class="coding-content" [@routerTransitionDown]>
          <h1>Coding</h1>
      <p>
        I started coding in mid 2017 and fell in love with it ever since. Please feel free to checkout some of my github repositories by clicking on a project below.  I have experience in the following languages:
      </p>
      <div class="languages-projects-wrapper">
          <div class="languages">
            <h5 class="languages-title">Languages</h5>
              <ul class="coding-languages">
                  <li [@routerTransitionRight]><i class="devicon-csharp-plain"></i>C#</li>
                  <li [@routerTransition]><i class="devicon-angularjs-plain"></i>Angular</li>
                  <li [@routerTransitionRight]><i class="devicon-typescript-plain"></i>TypeScript</li>
                  <li [@routerTransition]><i class="devicon-html5-plain"></i>HTML</li>
                  <li [@routerTransitionRight]><i class="devicon-css3-plain-wordmark"></i>CSS</li>
                  <li [@routerTransition]><i class="devicon-javascript-plain"></i>JavaScript</li>
                </ul>
          </div>
          <div class="projects">
              <h5 class="projects-title">Projects</h5>
                <ul class="coding-projects">
                    <li [@routerTransitionRight]><a href="https://github.com/Segger87/Soduku-Solver"><i class="fa fa-puzzle-piece"></i>Sudoku Solver</a></li>
                    <li [@routerTransition]><a href="https://github.com/Segger87/Bloom-FIlter"><i class="fa fa-filter"></i>Bloom Filter</a></li>
                    <li [@routerTransitionRight]><a href="https://github.com/Segger87/Search-Algortihims"><i class="fa fa-search"></i>Search Algorithms</a></li>
                    <li [@routerTransition]><a href="https://github.com/Segger87/Reddit-API-Post-Feed"><i class="fa fa-reddit-alien"></i>Reddit Api Fetcher</a></li>
                  </ul>
          </div>
      </div> 
  </div> 
</div>