@import "src/variables.scss";

*{
    background-color: $hobbies-background-color;
}

.coding
{   
    &-wrapper {
    height: 100vh;
    text-align: center;
    }
    &-languages {
        font-size: 1.75em;
    }
    &-content{
        padding-top: 2%;
    }
}

li{
    list-style: none;
}
    
h1 {
    font-size: 4em;
}