<div class="coding-wrapper">
  <div [@routerTransitionDown]>
      <h1>Coding</h1>
      <div class="coding-content">
      <h3>
        I started coding in August 2017 and fell in love with it ever since. Since I started I have gained experience in the following languages:
      </h3>
      <ul class="coding-languages">
          <li [@routerTransition]><i class="devicon-html5-plain"></i>HTML</li>
          <li [@routerTransitionRight]><i class="devicon-css3-plain-wordmark"></i>CSS</li>
          <li [@routerTransition]><i class="devicon-javascript-plain"></i>JavaScript</li>
          <li [@routerTransitionRight]><i class="devicon-csharp-plain"></i>C#</li>
          <li [@routerTransition]><i class="devicon-angularjs-plain"></i>Angular</li>
          <li [@routerTransitionRight]><i class="devicon-typescript-plain"></i>TypeScript</li>
        </ul>
  </div> 
</div>