<div class="contact-wrapper">
    <h1 [@routerTransitionDown]>Contact</h1>
    <div class="bottom-row">
      <a class="social-media" href="https://www.github.com/segger87" target="_blank"><i class="fa fa-github" [@routerTransitionRight]></i></a>
      <a class="social-media" href="https://www.linkedin.com/segger87" target="_blank"><i class="fa fa-linkedin-square" [@routerTransitionUp]></i></a>
      <a class="social-media" href="https://www.facebook.com/segger87" target="_blank"><i class="fa fa-facebook-square" [@routerTransition]></i></a>
    </div>
  </div>
