@import "src/variables.scss";

.piano-wrapper {
    background-color: #F5F5F5;
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 5em;
    padding-top: 5%;
    padding-bottom: 5%;
}

.collapsed {
    background-color: lighten($accordian-card-color, 7%);
    border: solid white 1px;
}

.card-header {
    background-color: lighten($accordian-card-color, 10%);
}