@import "src/variables.scss";

.hobbies-wrapper {
    background-color: $hobbies-background-color;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 5em;
    padding-top: 10%;
}

.fa-music, .fa-code, .fa-gamepad{
    font-size: 5.5em;
    margin: .125em;
    padding-top: 5%;

	&:hover {
		opacity: 0.2;
	}
}

.hobbies {
	all: unset;

	&:hover {
		all: unset;
		cursor: pointer;
	}
}
